<div class="container">
    <h1>

    {{ctrl.submission.title}}

      <div class="btn-group" role="group" aria-label="...">
        <button ng-if="ctrl.isOwner() && ctrl.isState(0)" class="btn btn-default btn-xs" ng-click="ctrl.setState('complete')">Set Completed</button>
        <button ng-if="ctrl.$auth.isChair() && (ctrl.isState(1) || ctrl.isState(0))" class="btn btn-default btn-xs" ng-click="ctrl.setState('close')">Close for Reviews</button>
        <button ng-if="ctrl.$auth.isChair() && !(ctrl.isState(3) || ctrl.isState(4))" class="btn btn-default btn-xs" ng-click="ctrl.setState('accept')">Accept Submission</button>
        <button ng-if="ctrl.$auth.isChair() && !(ctrl.isState(3) || ctrl.isState(4))" class="btn btn-default btn-xs" ng-click="ctrl.setState('reject')">Reject Submission</button>
      </div>
    </h1>
    <div class="alert alert-warning" ng-show="ctrl.badRequest" role="alert">Bad Request</div>
    <table class="table">
        <tr>
            <th>Status</th>
            <td><span class="label label-{{ctrl.submission.status |status:true}}">{{ctrl.submission.status |status}}</span></td>
        </tr>
        <tr>
            <th>File</th>
            <td><a target="_blank" href="/api/submissions/{{ctrl.submission._id}}/file">{{ctrl.submission.fileName}}</a></td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ctrl.submission.User.name}}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ctrl.submission.createdAt |date:'medium'}}</td>
        </tr>
        <tr>
            <th>Last Update</th>
            <td>{{ctrl.submission.updatedAt |date:'medium'}}</td>
        </tr>
        <tr>
            <th>Keywords</th>
            <td>{{ctrl.submission.keywords}}</td>
        </tr>
        <tr>
            <th>Abstract</th>
            <td>{{ctrl.submission.abstract}}</td>
        </tr>
    </table>
</div>
