<div class="container">

asd

</div>
<!-- <div>
     <div class="form-group">
          <label for="summaryfield">Summary</label>
            <textarea class="form-control" id="summaryfield" ng-model="ctrl.review.summary"></textarea>
     </div>


     <div class="form-group">
          <label for="strongpointsfield">Strong-Points</label>
          <textarea class="form-control" id="strongpointsfield" ng-model="ctrl.review.strongpoints"></textarea>
     </div>

     <div class="form-group">
          <label for="weakpointfield">Weak-Points</label>
          <textarea class="form-control" id="weakpointfield" ng-model="ctrl.review.weakpoints"></textarea>
     </div>


     <div class="form-group">
          <label for="ratingfield">Evaluation</label>
          <input type="number" min="0" max="10" class="form-control" id="ratingfield" ng-model="ctrl.review.evaluation">
     </div>

     <div class="form-group">
          <label for="expertisefield">Expertise</label>
          <input type="number" min="0" max="10" class="form-control" id="expertisefield" ng-model="ctrl.review.expertise">
     </div>

     <div class="form-group">
          <label for="comment">Comment </label>
          <textarea class="form-control" id="commentfield" ng-model="ctrl.review.comment"></textarea>
     </div>


     <button type="button" class="btn btn-default btn-sm" ui-sref="reviews.update({id:rev._id})">
          <span class="glyphicon glyphicon-pencil"></span>
     </button>

</div>

 -->
