<div class="container">
    <h1>Create Review</h1>
    <div class="alert alert-success" ng-show="ctrl.success" role="alert">Created successfully</div>
    <div class="alert alert-warning" ng-show="ctrl.badRequest" role="alert">Bad Request</div>
    <table class="table">



        <tr>
            <th>Pick  an assigned Submission </th>
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Submissions
                        <span class="caret"></span></button>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                </div>



            </td>
        </tr>

        <tr>
            <th>Summary </th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.summary" /></textarea>
            </td>
        </tr>
        <tr>
            <th>Strong-Points</th>
            <td>
                <textarea  class="form-control" ng-model="ctrl.review.strongpoints" /></textarea>
            </td>
        </tr>
        <tr>
            <th>Weak-Points</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.weakpoints"></textarea>
            </td>
        </tr>
        <tr>
            <th>Evaluation</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.evaluation"></textarea>
            </td>
        </tr>
        <tr>
            <th>Expertise</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.expertise"></textarea>
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.comment"></textarea>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" class="btn btn-default" ng-click="ctrl.save()">
            </td>
        </tr>
    </table>
</div>
