<div class="container">

<h1 ng-show="ctrl.isCreate()">Create Review for {{ctrl.submission.title}}</h1>
<h1 ng-hide="ctrl.isCreate()">Edit Review for {{ctrl.review.Submission.title}}</h1>

    <table class="table">
        <tr>
            <th>Summary</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.summary"></textarea>
            </td>
        </tr>
        <tr>
            <th>Strong-Points</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.strongspoints"></textarea>
            </td>
        </tr>
        <tr>
            <th>Weak-Points</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.weakpoints"></textarea>
            </td>
        </tr>

        <th>Evaluation</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.evaluation"></textarea>
            </td>
        </tr>
        <tr>
            <th>Expertise</th>
             <td>   
                    <div class="form-group">
                    <select class="form-control" ng-model="ctrl.review.expertise">
                        <option>No Expertise</option>
                        <option>Low</option>
                        <option>Mid</option>
                        <option>High</option>
                     </select>
                </div>
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>
                <textarea class="form-control" ng-model="ctrl.review.comment"></textarea>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" class="btn btn-default" ng-click="ctrl.save()">
            </td>
        </tr>
    </table>

</div>


